@model TheArena.Models.TeamGeek

@{
    ViewBag.Title = "S'inscrire dans une équipe";
}

<h2>S'inscrire dans une équipe (TODO BETTER)</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class = "control-label col-md-2" >Joueur</div>
            <div class="col-md-10">
                <input class="form-control" value="@User.Identity.Name" readonly>
                @Html.DropDownList("Player", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.Player, "", new { @class = "text-danger" })*@
            </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Team, "Team", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Team", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Team, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="S'inscrire" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Retourner à la liste des équipes", "Index", "Teams")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
