@model TheArena.Models.TeamGeek

@{
    ViewBag.Title = "S'inscrire dans une équipe";
}

<h2>Voulez-vous vous inscrire dans l'équipe @Request.Params["teamName"] ?</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class = "control-label col-md-2" >Joueur</div>
            <div class="col-md-10">
                <input class="form-control" value="@User.Identity.Name" readonly>
            </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="S'inscrire" class="btn btn-outline-success" />
                    </div>
                </div>
            </div>
        }
    <div class="col-md-offset-2 col-md-10">
        <div class="">
            @Html.ActionLink("Retourner à la liste des équipes", "Index", "Teams", null, new { @class = " btn btn-outline-dark" })
        </div>
    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
