@model  TheArena.ViewModels.TeamViewModel

@{
    /**/

    ViewBag.Title = "Détails";
}


<h2>Détails d'équipe</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nom du capitaine
            </dt>

            <dd>
                @Html.DisplayFor(model => model.team.Geek.Username)
            </dd>

            <dt>
                Initiales
            </dt>

            <dd>
                @Html.DisplayFor(model => model.team.Initials)
            </dd>

            <dt>
                Nom de l'équipe
            </dt>

            <dd>
                @Html.DisplayFor(model => model.team.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.team.Tags)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.team.Tags)
            </dd>

            <dt>
                Membres de l'équipe
            </dt>

            <dd>
                @foreach (var geek in Model.geekTeamList)
                {
                    <p>@geek.Username</p>
                }
            </dd>

        </dl>

    </div>
}
    <div class="form-group">
        @if (Model.team.Geek.Username.Equals(User.Identity.Name))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    @Html.ActionLink("Éditer", "Edit", new { id = Model.team.TeamId }, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        }

        @{bool test = true; }
        @foreach (var geek in Model.geekTeamList)
        {
            if (geek.Username == (User.Identity.Name))
            {
                test = false;
            }
        }


        @if (User.Identity.IsAuthenticated && (Model.team.Geek.Username != User.Identity.Name) && test != false)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    @Html.ActionLink("S'inscrire dans cette équipe", "Create", "TeamGeeks", new { teamID = Model.team.TeamId, teamName = Model.team.Name }, new { @class = "btn btn-outline-success" })
                </div>
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                @Html.ActionLink("Retourner à la liste des équipes", "Index", null, new { @class = " btn btn-outline-dark" })
            </div>
        </div>
    </div>


