@model TheArena.Models.Team

@{
    /**/

    ViewBag.Title = "Détails";
}


<h2>Détails d'équipe</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nom du capitaine
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Geek.Username)
            </dd>

            <dt>
                Initiales
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Initials)
            </dd>

            <dt>
                Nom de l'équipe
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tags)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tags)
            </dd>
        </dl>
    </div>


    <div class="btn btn-outline-primary col-md-3">

        @Html.ActionLink("Éditer", "Edit", new { id = Model.TeamId })
    </div>
}
<div class="form-actions no-color">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="btn btn-outline-success col-md-3">
            @Html.ActionLink("S'inscrire dans cette équipe", "Create", "TeamGeeks", new { }, null)
        </div>
    }
    </div>


    <div class="btn btn-outline-dark col-md-3">
        @Html.ActionLink("Retourner à la liste des équipes", "Index")
    </div>
