@model TheArena.ViewModels.MultipleSearch
@{ ViewBag.Title = "MultipleSearch";}

@if ((Model.Geeks == null || !Model.Geeks.Any()) && (Model.Games == null || !Model.Games.Any()) && (Model.Tournaments == null || !Model.Tournaments.Any()) && (Model.Teams == null || !Model.Teams.Any()))
{
    <p>Aucun résultat trouvé.</p>
}

@if (Model.Geeks != null && Model.Geeks.Any())
{
    <h2>Geeks</h2>
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Date de naissance</th>
        </tr>
        @foreach (var item in Model.Geeks)
        {
            <tr>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.Mail
                </td>
                <td>
                    @item.Birthdate
                </td>

            </tr>
        }
    </table>
}

@if (Model.Games != null && Model.Games.Any())
{
    <br />
    <br />
    <h2>Games</h2>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Limite d'âge</th>
        </tr>
        @foreach (var item in Model.Games)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.AgeLimit
                </td>
            </tr>
        }
    </table>
}

@if (Model.Tournaments != null && Model.Tournaments.Any())
{
    <br />
    <br />
    <h2>Tournaments</h2>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Sigle</th>
            <th>Règles</th>
            <th>Taille des équipes</th>
        </tr>
        @foreach (var item in Model.Tournaments)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Initials
                </td>
                <td>
                    @item.Rules
                </td>
                <td>
                    @item.PlayerNumber
                </td>

            </tr>
        }
    </table>
}

@if (Model.Teams != null && Model.Teams.Any())
{
<br />
<br />
<h2>Teams</h2>
<table class="table">
<tr>
            <th>Nom</th>
            <th>Sigle</th>
            <th>Capitaine</th>
</tr>
    @foreach (var item in Model.Teams)
    {
      
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Initials
            </td>
            <td>
                @item.Captain
            </td>
        </tr>
    }
</table>
}
<br />
<br />
                
